{
  "parserOptions": {
    "parser": {
      "ts": "@typescript-eslint/parser"
    },
    "ecmaVersion": "latest"
  },
  "extends": ["eslint:recommended", "plugin:vue/vue3-recommended", "'./.eslintrc-auto-import.json'", "prettier"],
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/component-tags-order": ["script", "template", "style"]
  }
}
